<h1>Help</h1>
<div class="alert alert-danger no-email" role="alert">You must provide your email!</div>
<div class="alert alert-danger no-story" role="alert">You must provide your sob story</div>
<div class="row">
  <div class="col-xs-6">
    <form>
      <label class="col-xs-9">Tell Us About Your Struggles With Alcoholism</label>
      <div class="form-group ">
        <textarea id="help-problem" class="col-xs-9"></textarea>
      </div>
      <br>
      <br>
      <br>
      <br>
      <label class="col-xs-9">Your Email</label>
      <div class="form-group">
        <input id="help-email" type="text" class="col-xs-9">
      </div>
      <div class="form-group col-xs-12">
        <br>
        <input type="button" id="get-help" class="btn btn-primary" value="Get Help">
      </div>
    </form>
  </div>
  <div class="col-xs-6">

    <table class="table table-striped">
      <thead>
        <th>Facility Name</th>
        <th>Treatment Price</th>
      </thead>
      <tr>
        <td>Liquor Store</td>
        <td>12 per handle</td>
      </tr>
      <tr>
        <td>Death</td>
        <td>Free!!! :)</td>
      </tr>
      <tr>
        <td>The Continental</td>
        <td>$10 for 5 shots</td>
      </tr>
      <tr>
        <td>AppAcademy</td>
        <td>18%</td>
      </tr>
    </table>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
