<h1>Home</h1>
<div class="row">
  <div class="col-xs-8">
    <div id="vodka-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#vodka-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#vodka-carousel" data-slide-to="1"></li>
        <li data-target="#vodka-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("balance.jpg", alt: "balance") %>
        </div>

        <div class="item">
          <%= image_tag("party.jpg", alt: "party") %>
        </div>

        <div class="item">
          <%= image_tag("speakrussian.jpg", alt: "speakrussian") %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#vodka-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#vodka-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 vodka-info">
    <h2 id="history-of-vodka">History Of Da Vodka</h2>
    <p>Scholars debate the beginnings of vodka. It is a contentious issue because very little historical material is available. Vodka originated in Eastern Europe. The first production was either in  <a href="#" data-toggle="tooltip" title="Read About Poland">Poland</a> in the 8th century or in the area of today's  <a href="#" data-toggle="tooltip" title="Motherland!">Russia</a> in the late 9th century according to different sources. According to the <a href="#" data-toggle="tooltip" title="GVA Site">Gin and Vodka Association (GVA)</a>, the first distillery was documented over three hundred years later at Khlynovsk as reported in the Vyatka Chronicle of 1174. For many centuries, beverages differed significantly compared to the vodka of today, as the spirit at that time had a different flavor, color and smell, and was originally used as  <a href="#" data-toggle="tooltip" title="You probably need this!">medicine</a>. It contained little alcohol, an estimated maximum of about 14%, as only this amount can be attained by natural fermentation. The <a href="#" data-toggle="tooltip" title="What is that?">still</a>, allowing for distillation ("burning of wine") and increased purity and alcohol content was invented in the 8th century </p><p>
      A type of distilled liquor designated by the Russian word vodka came to Russia in the late 14th century. In 1386, the Genoese ambassadors brought the first aqua vitae ("the water of life") to Moscow and presented it to Grand Duke Dmitry Donskoy. The liquid obtained by distillation of grape must was thought to be a concentrate and a "spirit" of wine (spiritus vini in Latin), from where came the name of this substance in many European languages (like English spirit, or Russian спирт, spirt).</p><p>

      According to a legend, around 1430, a monk named Isidore from Chudov Monastery inside the Moscow Kremlin made a recipe of the first Russian vodka.[23] Having a special knowledge and distillation devices, he became the creator of a new, higher quality type of alcoholic beverage. This "bread wine", as it was initially known, was for a long time produced exclusively in the Grand Duchy of Moscow and in no other principality of Rus' (this situation persisted until the era of industrial production). Thus, this beverage was closely associated with Moscow.</p><p>

      Until the mid-18th century, the drink remained relatively low in alcohol content, not exceeding 40% ABV. Multiple terms for the drink were recorded, sometimes reflecting different levels of quality, alcohol concentration, filtering, and the number of distillations; most commonly, it was referred to as "burning wine", "bread wine", or even in some locations simply "wine". In some locations, grape wine may have been so expensive that it was a drink only for aristocrats. Burning wine was usually diluted with water to 24% ABV or less before drinking. It was mostly sold in taverns and was quite expensive. At the same time, the word vodka was already in use, but it described herbal tinctures (similar to absinthe), containing up to 75% ABV, and made for medicinal purposes.</p><p>

      The first written usage of the word vodka in an official Russian document in its modern meaning is dated by the decree of Empress Elizabeth of June 8, 1751, which regulated the ownership of vodka distilleries. By the 1860s, due to the government policy of promoting consumption of state-manufactured vodka, it became the drink of choice for many Russians. In 1863, the government monopoly on vodka production was repealed, causing prices to plummet and making vodka available even to low-income citizens. The taxes on vodka became a key element of government finances in Tsarist Russia, providing at times up to 40% of state revenue.[24] By 1911, vodka comprised 89% of all alcohol consumed in Russia. This level has fluctuated somewhat during the 20th century, but remained quite high at all times. The most recent estimates put it at 70% (2001). Today, some popular Russian vodka producers or brands are (amongst others) Stolichnaya and Russian Standard.[25]</p>

      <h2 id="vodka-today">Vodka Today</h2>
      <p>Vodka is on the forefront of modern vodka technology!! We keep prices low by buying in bulk and enhancing our vodka with rubbing alcohol and stain removers. It keeps you healthy, and your inside clean! Get yours today!</p>
      <p>
        In some countries, black-market or "bathtub" vodka is widespread because it can be produced easily and avoid taxation. However, severe poisoning, blindness, or death can occur as a result of dangerous industrial ethanol substitutes being added by black-market producers.[40] In March 2007 in a documentary, BBC News UK sought to find the cause of severe jaundice among imbibers of a "bathtub" vodka in Russia.[41] The cause was suspected to be an industrial disinfectant (Extrasept) – 95% ethanol but also containing a highly toxic chemical – added to the vodka by the illegal traders because of its high alcohol content and low price. Death toll estimates list at least 120 dead and more than 1,000 poisoned. The death toll is expected to rise due to the chronic nature of the cirrhosis that is causing the jaundice. However, there are also much higher estimates of the annual death toll (dozens or even hundreds of thousand of lives) produced by the vodka consumption in Russia.[42]
      </p>

      <h2 id="vodka-poem"> Here's A Poem</h2>
      <div class="view-content">
        <div>

          <h4>In praise of vodka</h4>
          <div class="poem-body poem-body-processed" unselectable="on"><p>
            In praise of vodka
          </p>
          <p>
            The taste they say for they must<br>
            or they feel that they must so they say<br>
            so they say they say <i>it has none</i><br><i>there's no taste, just water.</i>
          </p>
          <p>
            Water: the glassy lake Christ trod,<br>
            a bowl Herod rinsed his fingers in,<br>
            the rain falling on Troy's ruins,<br>
            last word last balm of the living.
          </p>
          <p>
            The same water, over and over. They say<br>
            for they say for they must so they say<br>
            we're running out running dry but there's always<br>
            the same amount as there's always been.
          </p>
          <p>
            It's we who are more. As for myself<br>
            I've spent all my days working out<br>
            just what little Miss Peaches might like<br>
            and I'm due a day off for the rest of my life.
          </p>
          <p>
            So out of the freezer the bottle, the green<br>
            frosty bottle, its label iced in cyrillic,<br>
            the glass and the water beside the glass.<br>
            Russische. Moskovskaya. Stolichnaya.
          </p>
          <p>
            So this is the taste of nothing:<br>
            nothing then nothing again. Nothing at all.<br>
            The taste of the air, of wind on the fields,<br>
            the wind through the long wet forest.
          </p>
          <p>
            A stream and the rain. I lie in my yard<br>
            and open my mouth to the moon and the down falling rain<br>
            and the rods of its words speak over my tougue<br>
            to the back of my throat and they say
          </p>
          <p>
            <i>Voda</i><br><i>Water</i><br><i>Vodka</i>
          </p>
          <p>
            <i>Voda</i><br><i>Water</i><br><i>Vodka</i>
          </p>
          <p>
            <i>Voda</i><br><i>Water</i><br><i>Vodka</i>
          </p>
          <p>
            <i>Voda</i><br><i>Water</i><br><i>Vodka</i>
          </p>
          <p>
            Vodka of course being the diminutive of 'water', 'voda' - a little water.
          </p>
          <p>from Shed: Poems 1980-2001 (Bloodaxe, 2001), © Ken Smith 2001, by permission of Bloodaxe Books. Recordings by permission of Bloodaxe Books Ltd and the British Council. www.bloodaxebooks.com www.britishcouncil.org/arts-literature</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-2 sidebar">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#history-of-vodka">History</a></li>
      <li><a href="#vodka-today">Vodka Today</a></li>
      <li><a href="#vodka-poem">Poem</a></li>
    </ul>
  </div>
</div>