<div class="jumbotron">
  <h1>Soviet Union</h1>

  <div class="col-xs-6">
    <p>In Soviet Union, vodka drink you!!</p>
  </div>
  <div class="col-xs-6">
    <p>In Soviet Union, every bar is being AA meeting time.</p>
  </div>
</div>

<div class="row">
  <h1>Meet our comrades!</h1>
</div>

<div class="row text-center">
  <div class="col-xs-3">
     <%= image_tag("stalin.jpeg", :alt => "stalin", class: "img-circle")  %>
     <h2>Hot Stalin</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-3">
     <%= image_tag("lenin.jpg", :alt => "lenin", class: "img-circle")  %>
     <h2>Lenin "the cute one"</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-3">
     <%= image_tag("trotsky.jpeg", :alt => "stalin", class: "img-circle")  %>
     <h2>Foxy Trotsky</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="col-xs-3">
     <%= image_tag("putin.jpeg", :alt => "stalin", class: "img-circle")  %>
     <h2>Pulchritudinous Putin</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>