<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-2 col-xs-10">
      <h1>Sign In</h1>
    </div>

    <form class="form-horizontal" action="<%= session_url %>" method="post" role="form">

      <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label class="col-xs-2 control-label" for="user_username">Username</label>
        <div class="col-xs-offset-1 ">
          <input
          class="form-control"
          id="user_username"
          name="user[username]"
          type="text">
        </div>
        <br>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label" for="user_password">Password</label>
        <div class="col-xs-offset-1">
          <input
          class="form-control"
          id="user_password"
          name="user[password]"
          type="password">
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button class="btn btn-primary">Log in</button>
        </div>
      </div>
    </form>
  </div>
</div>