<!DOCTYPE html>
<html>
<head>
  <title>NewAuthDemo</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".sidebar">

  <nav >
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#nav-bar-links">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_url %>">Vodkafy Your Life!</a>
  </div>
  <div class="collapse navbar-collapse" id="nav-bar-links">
    <ul class="nav navbar-nav nav-pills">
      <li>
        <a href="<%= home_url %>">Home</a>
      </li>
      <li>
        <a href="<%= sovietunion_url %>">Soviet Union</a>
      </li>
      <li>
        <a href="<%= help_url %>">Getting Help</a>
      </li>
      <li>
        <a href="<%= partners_url %>">Partners</a>
      </li>
      <li>
        <a href="<%= shop_url %>">Shop Vodkafy</a>
      </li>
      <% if signed_in? %>
      <li>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <%= current_user.username %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "My Page", user_url(current_user)%></li>
            <li><%= button_to "Sign Out", session_url, :method => :delete, :class => "btn btn-default" %></li>
          </ul>
        </div>
      </li>
      <% else %>
      <li>
        <button class="btn btn-primary" data-toggle="modal" data-target="#signInModal">
          Sign In
        </button>
        <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!-- <h4 class="modal-title">Sign In</h4> -->
              </div>
              <div class="modal-body">
                <%= render "sessions/form", user: current_user ? current_user : User.new() %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </li>

      <% end %>
    </ul>
  </div>
</nav>


<hr>

<% if flash[:errors] %>
<h3>Please fix the following errors:</h3>
<ul>
  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<div class="container"><%= yield %></div>

</body>
</html>
